@use "abstracts/mixins" as mixin;
@use "base/root-var" as root;
@use "abstracts/functions" as fn;

:host {
  // To push the resume component to the bottom of the layout, use margin-top:auto
  // when used inside a flex container
  // This is another way to do it instead of creating another flex container and use space-between
  margin-top: 32px;

  @include mixin.breakpoint-up(lg) {
    margin-top: auto;
  }
}

.resume-link {
  /* Self */
  --resume-link-margin-bottom: 4rem;
  --resume-link-margin-bottom-md: 6rem;
  --resume-link-margin-bottom-lg: 0;

  /* Link */
  --resume-link-link-gap: #{fn.px-to-rem(4px)};
  /* Icon */
  --resume-link-icon-width: #{fn.px-to-rem(20px)};
  --resume-link-icon-height: #{fn.px-to-rem(20px)};
  --resume-link-icon-color: #{rgba(root.$emphasize-color / 1)};
  --resume-link-icon-hover-transform: translate(3px, -3px);
  --resume-link-icon-transition: transform 0.25s ease-in-out;
  /* Text */
  --resume-link-text-color: #{rgb(root.$emphasize-color / 1)};

  width: fit-content;
  margin-bottom: var(--resume-link-margin-bottom);

  @include mixin.breakpoint-up(md) {
    margin-bottom: var(--resume-link-margin-bottom-md);
  }

  @include mixin.breakpoint-up(lg) {
    margin-bottom: var(--resume-link-margin-bottom-lg);
  }

  &__link {
    display: flex;
    align-items: end;
    gap: var(--resume-link-link-gap);

    &:hover .resume-link__icon {
      transform: var(--resume-link-icon-hover-transform);
    }
  }

  &__text {
    color: var(--resume-link-text-color);
    @include mixin.typography-resume;
  }

  &__icon {
    width: var(--resume-link-icon-width);
    height: var(--resume-link-icon-height);
    color: var(--resume-link-icon-color);
    transition: var(--resume-link-icon-transition);
  }
}
