@use "abstracts/mixins" as mixin;
@use "base/root-var" as root;
@use "abstracts/functions" as fn;

:host {
  // To push the resume component to the bottom of the layout, use margin-top:auto
  // when used inside a flex container
  // This is another way to do it instead of creating another flex container and use space-between
  margin-top: 32px;

  @include mixin.breakpoint-up(lg) {
    margin-top: auto;
  }
}

.resume-link {
  width: fit-content;
  &__link {
    display: flex;
    align-items: end;
    gap: 4px;

    &:hover .resume-link__icon {
      transform: translate(3px, -3px);
    }
  }

  &__text {
    color: rgba(root.$emphasize-color / 1);
    @include mixin.typography-resume;
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: rgba(root.$emphasize-color / 1);
    transition: transform 0.25s ease-in-out;
  }
}
