@use "abstracts/mixins" as mixin;
@use "abstracts/functions" as fn;

:host {
  @include mixin.breakpoint-up(lg) {
    position: sticky;
    top: 0;
    max-height: 100vh;
    width: 48%;
  }
}

.header-layout {
  /* Self */
  --header-layout-padding-lg: #{fn.px-to-rem(96px) fn.px-to-rem(0px)
    fn.px-to-rem(96px) fn.px-to-rem(48px)};
  /* Radial Background */
  --radial-top: #{fn.px-to-rem(-130px)};
  --radial-left: #{fn.px-to-rem(-120px)};
  --radial-top-md: #{fn.px-to-rem(-300px)};
  --radial-left-md: #{fn.px-to-rem(-200px)};
  --radial-top-lg: #{fn.px-to-rem(-250px)};
  --radial-left-lg: #{fn.px-to-rem(-300px)};
  --radial-width: #{400px};
  --radial-height: #{400px};
  --radial-width-md: #{fn.px-to-rem(600px)};
  --radial-height-md: #{fn.px-to-rem(600px)};
  --radial-width-lg: #{fn.px-to-rem(800px)};
  --radial-height-lg: #{fn.px-to-rem(800px)};
  --radial-border-radius: 50%;
  --radial-background: radial-gradient(
    rgba(29, 78, 216, 0.15),
    transparent 70%
  );

  position: relative;
  display: flex;
  flex-direction: column;

  @include mixin.breakpoint-up(lg) {
    height: 100%;
    padding: var(--header-layout-padding-lg);
  }

  &__radial-background {
    position: absolute;
    z-index: -1;
    top: var(--radial-top);
    left: var(--radial-left);
    width: var(--radial-width);
    height: var(--radial-height);
    border-radius: var(--radial-border-radius);
    background: var(--radial-background);

    @include mixin.breakpoint-up(md) {
      top: var(--radial-top-md);
      left: var(--radial-left-md);
      width: var(--radial-width-md);
      height: var(--radial-height-md);
    }

    @include mixin.breakpoint-up(lg) {
      top: var(--radial-top-lg);
      left: var(--radial-left-lg);
      width: var(--radial-width-lg);
      height: var(--radial-height-lg);
    }
  }
}
