@use "../base/root-var" as root;

.text-emphasize {
  color: rgb(root.$emphasize-color/1);
}

.text-emphasize-light {
  color: rgb(root.$emphasize-color/0.85);
}

.text-accent {
  color: rgb(root.$accent-color/1);
}
