@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-variable.woff2") format("woff2"),
    url("/assets/fonts/inter/inter-variable.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-variable-italic.woff2") format("woff2"),
    url("/assets/fonts/inter/inter-variable-italic.woff") format("woff");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
