@use "abstracts/mixins" as mixin;

.main-layout {
  scroll-behavior: smooth;
  padding: 48px 24px;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;

  @include mixin.breakpoint-up(md) {
    padding: 64px 48px;
  }

  @include mixin.breakpoint-up(lg) {
    padding: 0;
  }

  &__wrapper {
    @include mixin.breakpoint-up(lg) {
      display: flex;
      gap: 16px;
      justify-content: space-between;
    }
  }
}
