@use "abstracts/functions" as fn;
@use "abstracts/mixins" as mixin;
@use "base/root-var" as root;

.about {
  scroll-margin-top: 96px;
  margin-bottom: 4rem;

  @include mixin.breakpoint-up(md) {
    margin-bottom: 6rem;
  }

  @include mixin.breakpoint-up(lg) {
    margin-bottom: 9rem;
  }

  &__paragraph {
    @include mixin.typography-about-paragraph;
    color: rgb(root.$foreground-color/1);
    margin-bottom: fn.px-to-rem(16px);
  }

  &__link {
    color: rgb(root.$emphasize-color/1);
  }

  &__highlight {
    color: rgb(root.$emphasize-color/1);
  }
}
