<section class="about" id="about">
  <app-section-title title="About" />
  <div class="about__content">
    <p class="about__paragraph">
      I'm a developer passionate about crafting accessible, pixel-perfect user
      interfaces that blend thoughtful design with robust engineering. My
      favorite work lies at the intersection of design and development, creating
      experiences that not only look great but are meticulously built for
      performance and usability.
    </p>
    <p class="about__paragraph">
      Currently, I'm a Senior Front-End Engineer at
      <a
        class="about__link"
        href="https://www.klaviyo.com/"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="Klaviyo (opens in a new tab)"
        >Klaviyo</a
      >, specializing in accessibility. I contribute to the creation and
      maintenance of UI components that power Klaviyo's frontend, ensuring our
      platform meets web accessibility standards and best practices to deliver
      an inclusive user experience.
    </p>
    <p class="about__paragraph">
      In the past, I've had the opportunity to develop software across a variety
      of settings — from
      <a
        class="about__link"
        href="https://us.mullenlowe.com/"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="advertising agency (opens in a new tab)"
        >advertising agencies</a
      >
      and
      <a
        class="about__link"
        href="https://www.apple.com/apple-music/"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="huge corporation (opens in a new tab)"
        >large corporations</a
      >
      to
      <a
        class="about__link"
        href="https://starry.com/"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="start-up (opens in a new tab)"
        >start-ups</a
      >
      and
      <a
        class="about__link"
        href="https://upstatement.com/"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="digital product studio (opens in a new tab)"
        >small digital product studios</a
      >. Additionally, I also released a
      <a
        class="about__link"
        href="https://www.newline.co/courses/build-a-spotify-connected-app"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="online video course (opens in a new tab)"
        >comprehensive video course</a
      >
      a few years ago, guiding learners through building a web app with the
      Spotify API.
    </p>
    <p>
      In my spare time, I'm usually climbing, playing tennis, hanging out with
      my wife and two cats
    </p>
  </div>
</section>
