@use "abstracts/mixins" as mixin;
@use "base/root-var" as root;

:host {
  width: 52%;
}

.content-layout {
  --content-layout-padding: 96px 48px 96px 0;

  @include mixin.breakpoint-up(lg) {
    padding: var(--content-layout-padding);
  }
}
