@use "abstracts/mixins" as mixin;
@use "abstracts/functions" as fn;
@use "base/root-var" as root;

.section-title {
  $section-title-padding: fn.px-to-rem(20px) fn.px-to-rem(24px);
  $section-title-padding-md: fn.px-to-rem(20px) fn.px-to-rem(48px);
  $section-title-text-color: rgb(root.$emphasize-color/1);

  position: sticky;
  top: 0;
  padding: $section-title-padding;
  margin: 0 -24px 16px -24px;
  background-color: rgb(root.$background-color / 0.75);
  backdrop-filter: blur(8px);

  @include mixin.breakpoint-up(md) {
    padding: $section-title-padding-md;
    margin: 0 -48px 16px -48px;
  }
  @include mixin.breakpoint-up(lg) {
    display: none;
  }

  &__text {
    color: $section-title-text-color;
    @include mixin.typography-section-title;
  }
}
